@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
  font-family: 'Outfit', sans-serif;
}

.descripcion_clima{
  text-transform: uppercase;
}

.botonsito{
  width: 90%;
}

.seleccion {
  width: 221px;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}


@media all and (min-width:768px) {
  .botonsito{
    width: 50%;
    
  }
}
@media all and (min-width:992px) {
  .botonsito{
    width: 20%;
    
  }
}